@using PIPMUNI_ARG.Models.Domain;
@model Project
@{
    ViewData["Title"] = "Editar Proyecto";
    ViewData["isBasicView"] = true;
}

@await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)
<form id="FormProject" asp-action="Edit" class="mt-2" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-bufferedUrl="@ViewBag.bufferedUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divName">
            <label asp-for="Name" class="control-label" title="Nombre del proyecto"></label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-4" id="divCode">
            <label asp-for="Code" class="control-label" title="Código que identifica al proyecto"></label>
            <input asp-for="Code" type="text" class="form-control" readonly>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-6" id="divSector">
            <label asp-for="Sector" class="control-label" title="Principal sector al que aporta la ejecución del proyecto."></label>
            <select asp-for="Sector" name="Sector" class="form-select" asp-items="ViewBag.listSector" id="Sector"></select>
            <span asp-validation-for="Sector" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 col-sm-6" id="divSubsector">
            <label asp-for="Subsector" class="control-label" title="Subsector dentro del cual se desarrolla la obra."></label>
            <select asp-for="Subsector" name="Subsector" class="form-select" asp-items="ViewBag.listSubsector" id="Subsector"></select>
            <span asp-validation-for="Subsector" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-6" id="divStage">
            <label asp-for="Stage" class="control-label" title="Estado en que se encuentra el proyecto."></label>
            <select asp-for="Stage" name="Stage" class="form-select" asp-items="ViewBag.listStage" id="Stage"></select>
            <span asp-validation-for="Stage" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 col-sm-6" id="divOffice">
            <label asp-for="Office" class="control-label" title="Organismo o área de la administración municipal responsable del proyecto."></label>
            <select asp-for="Office" name="Office" class="form-select" asp-items="ViewBag.listOffice" id="Office"></select>
            <span asp-validation-for="Office" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divDescription">
            <label asp-for="Description" class="control-label" title="Descripción del proyecto"></label>
            <textarea asp-for="Description" type="text" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divObjectives">
            <label asp-for="Objectives" class="control-label" title="Objetivos del Proyecto"></label>
            <textarea asp-for="Objectives" type="text" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Objectives" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-6" id="divCost">
            <label asp-for="Cost" class="control-label" title="Costo estimado del proyecto"></label>
            @Html.TextBoxFor(m => m.Cost, "{0:n2}", new { @class= "form-control", @onchange="formatNumber(this,2);"})
            <span class="text-danger">@ViewBag.CostValidationMsg</span>
        </div>
        <div class="form-group mb-3 col-sm-6" id="divCostDate">
            <label asp-for="CostDate" class="control-label" title="Fecha en la que se estimó el costo del proyecto."></label>
            <input asp-for="CostDate" type="date" class="form-control">
            <span asp-validation-for="CostDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div hidden class="form-group mb-3" id="divLocation">
            <label asp-for="Location" class="control-label" title="Ubiación georreferenciada del proyecto."></label>
            <textarea asp-for="Location" type="hidden" rows="5" class="form-control" hidden></textarea>
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div id="LocationMapDiv" class="full-map-container"></div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>


    @await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)

    <div class="mt-5">
        @{
            <!-- return button -->
            if (!string.IsNullOrEmpty(ViewBag.returnUrl))
            {
                string returnlink = @ViewBag.returnUrl;
                if (!string.IsNullOrEmpty(ViewBag.bufferedUrl))
                {
                    if (!returnlink.Contains("returnUrl"))
                    {
                        string separator = (returnlink.Contains('?')) ? "&" : "?";
                        returnlink += string.Format("{0}returnUrl={1}", separator, ViewBag.bufferedUrl);
                    }
                }
                <a href=@returnlink formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
            else
            {
                <a id="goBack" href="javascript:void(0);" formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
        }
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmation"><i class="bi bi-x-lg"></i>&nbsp; Borrar</button>
        <button type="submit" formnovalidate class="btn btn-primary"><i class="bi bi-check-lg"></i>&nbsp; Guardar</button>
    </div>



    @* Confirm before deleting *@
    <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advertencia de Borrado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Está a punto de eliminar la información de Proyecto..</p>
                    Confirme si desea continuar?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Conservar</button>
                    <button type="submit" formnovalidate class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.returnUrl">Borrar</button>
                </div>
            </div>
        </div>
    </div>


</form>
<hr class="mb-5 mt-5" />
<div class="row mb-5">
    <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <div class="group-children">
            <h4>Fuentes de financiamiento</h4>
            <a asp-area="" asp-controller="ProjectSource"  asp-action="Create" asp-route-projectId=@ViewBag.projectId class="btn btn-clear float-end" asp-route-bufferedUrl=@ViewBag.returnUrl><i class="bi-plus"></i> Crear  Fuente Financiamiento</a>

            <!-- select table -->
            <table class="table select-table" summary="Select Fuente Financiamiento table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameForInnerType((ProjectSource s) => s.Source) <i class=@ViewBag.sourceIcon></i>
                        </th>
                        <th>
                            @Html.DisplayNameForInnerType((ProjectSource s) => s.Percentage) <i class=@ViewBag.percentageIcon></i>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProjectSources?.Count() > 0)
                    {
                        @foreach (var projectSource in Model.ProjectSources)
                        {
                            <tr>
                                <td class="sel-row">
                                    @if (projectSource.Source_info != null) @Html.DisplayFor(modelItem => projectSource.Source_info.Name)
                                </td>
                                <td class="sel-row">
                                    @Html.DisplayFor(modelItem => projectSource.Percentage)
                                </td>
                                <td class="sel-row">
                                    <a asp-area="" asp-controller="ProjectSource" asp-action="Edit" asp-route-id="@projectSource.Id" asp-route-projectId=@ViewBag.projectId asp-route-bufferedUrl=@ViewBag.returnUrl class="btn nav-link">
                                        <i class="bi-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<hr class="mb-5 mt-5" />
<div class="row mb-5">
    <div class="col-12 col-sm-12 col-lg-10 col-xl-8">
        <div class="group-children">
            <h4>Anexos</h4>
            <a asp-area="" asp-controller="ProjectAttachment"  asp-action="Create" asp-route-projectId=@ViewBag.projectId class="btn btn-clear float-end" asp-route-bufferedUrl=@ViewBag.returnUrl><i class="bi-plus"></i> Crear  Anexo Proyecto</a>

            <!-- select table -->
            <table class="table select-table" summary="Select Anexo Proyecto table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameForInnerType((ProjectAttachment s) => s.Title) <i class=@ViewBag.titleIcon></i>
                        </th>
                        <th>
                            Descargar
                        </th>
                        <th>
                            @Html.DisplayNameForInnerType((ProjectAttachment s) => s.DateAttached) <i class=@ViewBag.dateAttachedIcon></i>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProjectAttachments?.Count() > 0)
                    {
                        @foreach (var projectAttachment in Model.ProjectAttachments)
                        {
                            <tr>
                                <td class="sel-row">
                                    @Html.DisplayFor(modelItem => projectAttachment.Title)
                                </td>
                                <td class="sel-row">
                                    <a asp-area="" asp-controller="ProjectAttachment" asp-action="Download" asp-route-serverFileName="@projectAttachment.FileName" asp-route-downloadName="@projectAttachment.Title" asp-route-projectId=@ViewBag.projectId class="btn btn-link">
                                        <i class="bi-download"></i>
                                    </a>
                                </td>
                                <td class="sel-row">
                                    @Html.DisplayFor(modelItem => projectAttachment.DateAttached)
                                </td>
                                <td class="sel-row">
                                    <a asp-area="" asp-controller="ProjectAttachment" asp-action="Edit" asp-route-id="@projectAttachment.Id" asp-route-projectId=@ViewBag.projectId asp-route-bufferedUrl=@ViewBag.returnUrl class="btn nav-link">
                                        <i class="bi-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<!-- Advertencia Modificar fecha con Costo -->
<script>
// Store the initial value of the input field
var initialValue = document.getElementById("Cost").value;
// Add an event listener for the input field's blur event (when it loses focus)
document.getElementById("Cost").addEventListener("blur", function (event) {
    // Get the current value of the input field
    var currentValue = event.target.value;
    // Check if the value has changed
    if (currentValue !== initialValue) {
        // Display a warning popup with only an "OK" button
        initialValue = currentValue;
        Swal.fire({
            icon: 'info',
                title: '@Html.DisplayNameForInnerType((Project p) => p.Cost) modificado',
                text: 'Por favor no olvide actualizar la fecha de estimación correspondiente al monto de proyecto.',
            confirmButtonText: 'OK',
            buttonsStyling: false,
        });
    }
});
</script>


<script>
    $(function () {

        // filter Subsector based on Sector selection
        var showSubsector = function (selectedSector) {
            var parentList = JSON.parse('@Html.Raw(@ViewBag.listSubsectorParent)');
            $('#Subsector option').hide(); // hide all

            // show children of selected parent
            $('#Subsector').find('option').filter(function () {
                return (parentList.find(e => ($(this).val() === '0') || ((e.id === $(this).val()) && (e.parentId === selectedSector))));
            }).show();
            //set current value
            var defaultValue = $('#Subsector').val();
            if (!parentList.find(e => (e.id === defaultValue && e.parentId === selectedSector)))
                defaultValue = '0';
            $('#Subsector').val(defaultValue);
        };
        //set default Subsector
        showSubsector($('#Sector').val());

        //on sector update options for subsector
        $('#Sector').change(function () {
            showSubsector($(this).val());
        });


    });
</script>
<!-- Map Manager -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/@@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/@@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
<!-- geocoder: https://github.com/perliedman/leaflet-control-geocoder -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- basemap: https://github.com/clavijojuan/L.switchBasemap -->
<link rel="stylesheet" href="~/css/L.switchBasemap.css" />
<script src="~/js/L.switchBasemap.js"></script>

<script src="~/js/maplib.js"></script>
<script>

    captureMap('LocationMapDiv', 'Location', true, @ProjectGlobals.defaultLatitude, @ProjectGlobals.defaultLongitude);

    $('#FormProject').submit(function () {
        getMapInfo();
    });
</script>
