@using System.Globalization
@using JaosLib.Services.Utilities;
@using PIPMUNI_ARG.Models.Domain;
@model IEnumerable<PIPMUNI_ARG.Models.Domain.ProjectImage>?
@{
    ViewData["Title"] = "Media";
    ViewBag.WorkingInContract = true;
    ViewBag.navMedia = "active";
}

<h3>Imágenes</h3>

@if (User.IsInRole(ProjectGlobals.RoleAdmin)
|| User.IsInRole(ProjectGlobals.RoleDireccion)
|| User.IsInRole(ProjectGlobals.RoleOperacion))
{
    <div>
        <a asp-route-projectId=@ViewBag.projectId asp-area="Review" asp-controller="Media" asp-action="Create" class="btn btn-clear float-end"><i class="bi-plus"></i> Agregar Imagen</a>
    </div>
}

<form asp-action="Create" enctype="multipart/form-data" class="mt-5">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @if (Model != null && Model.Any())
                {
                    @foreach (var projectImage in Model)
                    {
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="@FileLoadService.PathProjectImages/@projectImage.File" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Picture</title><rect width="100%" height="100%" fill="#55595c"></rect>

                                <div class="card-body">
                                    <div class="card-text">@projectImage.Description</div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">
                                            Cargada: @(projectImage.UploadDate?.ToString("dd-MMM-yyyy") ?? "")
                                        </small>
                                        @if (User.IsInRole(ProjectGlobals.RoleAdmin)
                                       || User.IsInRole(ProjectGlobals.RoleDireccion))
                                        {
                                            <button data-id="@projectImage.Id" data-route="/ProjectImage/delete/" type="button" class="btn  btn-link callDeleteConfirmation" data-toggle="modal" data-target="#DeleteConfirmation" data-message="Está a punto de eliminar la Imagen."><i class="bi-trash"></i></button>
                                        }

                                    </div>
                                    @if (!string.IsNullOrEmpty(projectImage.File))
                                    {
                                        <div class="text-center">
                                            <a class="btn btn-link" asp-area="" asp-controller="ProjectImage" asp-action="Download" asp-route-serverFileName="@projectImage.File" asp-route-downloadName="@projectImage.Description" asp-route-projectId=@ViewBag.projectId>
                                                <i class="bi-download"></i>&nbsp; Descargar
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>


    <h3>Videos</h3>
    @if (User.IsInRole(ProjectGlobals.RoleAdmin)
    || User.IsInRole(ProjectGlobals.RoleDireccion)
    || User.IsInRole(ProjectGlobals.RoleOperacion))
    {
        <div>
            <a asp-area="" asp-route-projectId=@ViewBag.projectId asp-controller="ProjectVideo" asp-action="Create" class="btn btn-clear float-end"><i class="bi-plus"></i> Agregar Video</a>
        </div>
    }
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @if (ViewBag.videos != null && ViewBag.videos.Count > 0)
                {
                    @foreach (ProjectVideo video in ViewBag.videos)
                    {
                        <div class="col">
                            <div class="card shadow-sm">
                                <iframe class="bd-placeholder-img card-img-top" width="100%" height="225" src="@video.Link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" fill="#55595c"></iframe>

                                <div class="card-body">
                                    <div class="card-text">@video.Description</div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">
                                            Cargada: @(video.UploadDate?.ToString("dd-MMM-yyyy") ?? "")
                                        </small>
                                        @if (User.IsInRole(ProjectGlobals.RoleAdmin)
                                       || User.IsInRole(ProjectGlobals.RoleDireccion))
                                        {
                                            <button data-id="@video.Id" data-route="/ProjectImage/delete/" type="button" class="btn  btn-link callDeleteConfirmation" data-toggle="modal" data-target="#DeleteConfirmation" data-message="Está a punto de eliminar la Imagen."><i class="bi-trash"></i></button>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>



    @* Image: Confirm before deleting *@
    <div class="modal fade" id="DeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="DeleteConfirmationLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteConfirmationLabel">Advertencia de Borrado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="DeleteConfirmationMessage"></p>
                    <span>Confirme si desea continuar?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Conservar</button>
                    <button id="DeleteConfirmationButton" type="submit" formnovalidate class="btn btn-danger" asp-action="delete" asp-controller="ProjectImage" asp-area="" asp-route-id="3" type="submit"><i class="bi-trash"></i> Borrar</button>
                </div>
            </div>
        </div>
    </div>

</form>



<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }


    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
</style>

<script>
    $(document).ready(function () {
        $('.callDeleteConfirmation').click(function () {
            var id = this.getAttribute("data-id");
            var route = this.getAttribute("data-route");
            var message = this.getAttribute("data-message");
            $('#DeleteConfirmationMessage').text(message);
            var ele = document.getElementById('DeleteConfirmationButton');
            ele.setAttribute('formaction', route + id);
        });
    });</script>

