@model PIPMUNI_ARG.Models.Domain.Contract
@{
    ViewData["Title"] = "Ver Obra";
    ViewData["isBasicView"] = true;
}



<form asp-action="Display" class="mt-2" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-bufferedUrl="@ViewBag.bufferedUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="row">
        <div class="form-group mb-3">
            <label asp-for="Project" class="control-label" title="Proyecto al que corresponde la obra.">Proyecto</label>
            <select disabled asp-for="Project" class="form-select display" asp-items="ViewBag.listProject"></select>
            <span asp-validation-for="Project" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-4">
            <label asp-for="Code" class="control-label" title="Código de obra asignado automáticamente por el sistema. Se usa para que los usuarios puedan buscar o identificar la obra."></label>
            <input disabled asp-for="Code" type="text" class="form-control">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3">
            <label asp-for="Name" class="control-label" title="Nombre o título que permite identificar y conocer el concepto de la obra."></label>
            <input disabled asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-6">
            <label asp-for="Stage" class="control-label" title="A INICIAR-EN EJECUCION-RESCINDIDA-FINALIZADA">Etapa</label>
            <select disabled asp-for="Stage" class="form-select display" asp-items="ViewBag.listStage"></select>
            <span asp-validation-for="Stage" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 col-sm-6">
            <label asp-for="Office" class="control-label" title="Secretaría responsable de la obra">Área responsable de ejecución de obra</label>
            <select disabled asp-for="Office" class="form-select display" asp-items="ViewBag.listOffice"></select>
            <span asp-validation-for="Office" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-6">
            <label asp-for="OriginalValue" class="control-label" title="El monto al que se firmo el contrato"></label>
            @Html.TextBoxFor(m => m.OriginalValue, "{0:n2}", new { @class= "form-control", disabled="disabled"})
            <span asp-validation-for="OriginalValue" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 col-sm-6">
            <label asp-for="PlazoOriginal" class="control-label" title="Plazo original de ejecución del contrato. (núero de meses)"></label>
            @Html.TextBoxFor(m => m.PlazoOriginal, "{0:d}", new { @class= "form-control", disabled="disabled"})
            <span asp-validation-for="PlazoOriginal" class="text-danger"></span>
        </div>
    </div>
    <div class="group-fields">
        <div class="row">
            <div class="form-group mb-3 col-sm-6">
                <label asp-for="PlannedStartDate" class="control-label" title="Fecha estimada de inicio de la obra."></label>
                <input disabled asp-for="PlannedStartDate" type="date" class="form-control">
                <span asp-validation-for="PlannedStartDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 col-sm-6">
                <label asp-for="PlannedEndDate" class="control-label" title="La fecha en la que la obra se estima que finaliza (más allá del plazo real que da la fecha de fin prevista)."></label>
                <input disabled asp-for="PlannedEndDate" type="date" class="form-control">
                <span asp-validation-for="PlannedEndDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-4">
            <label asp-for="Type" class="control-label" title="Modalidad de ejecución que aplica para el contrato (Por Administración o Por Contratación).">Modalidad de ejecución</label>
            <select disabled asp-for="Type" class="form-select display" asp-items="ViewBag.listType"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="group-fields alterna">
        <div class="row">
            <div class="form-group mb-3">
                <label asp-for="Contractor" class="control-label" title="Contratista">Contratista</label>
                <select disabled asp-for="Contractor" class="form-select display" asp-items="ViewBag.listContractor"></select>
                <span asp-validation-for="Contractor" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group mb-3 col-sm-4">
                <label asp-for="ContractDate" class="control-label" title="La fecha en que se firmo el contrato con la compañía."></label>
                <input disabled asp-for="ContractDate" type="date" class="form-control">
                <span asp-validation-for="ContractDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 col-sm-4">
                <label asp-for="StartDate" class="control-label" title="La fecha en que se empezo la obra."></label>
                <input disabled asp-for="StartDate" type="date" class="form-control">
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 col-sm-4">
                <label asp-for="EndDate" class="control-label" title="La fecha en que realmente se termino la obra (es un acto administrativo)."></label>
                <input disabled asp-for="EndDate" type="date" class="form-control">
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3">
            <label asp-for="Record" class="control-label" title="Número del expediente de la obra."></label>
            <input disabled asp-for="Record" type="text" class="form-control">
            <span asp-validation-for="Record" class="text-danger"></span>
        </div>
    </div>

    @await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)
    <div class="mt-5">
        @{
            <!-- return button -->
            if (!string.IsNullOrEmpty(ViewBag.returnUrl))
            {
                string returnlink = @ViewBag.returnUrl;
                if (!string.IsNullOrEmpty(ViewBag.bufferedUrl))
                {
                    if (!returnlink.Contains("returnUrl"))
                    {
                        string separator = (returnlink.Contains('?')) ? "&" : "?";
                        returnlink += string.Format("{0}returnUrl={1}", separator, ViewBag.bufferedUrl);
                    }
                }
                <a href=@returnlink formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
            else
            {
                <a id="goBack" href="javascript:void(0);" formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
        }
    </div>




</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<!-- Show/Hide Contractor -->
<script>
$(function () {
        //
        var showHideValues = function (selectedType) {
            switch (selectedType) {
                case '2': // Por Contratación
                    $('#divContractor').show();
                    $('#divContractDate').show();
                    break;
                default:
                    $('#divContractor').hide();
                    $('#Contractor').val(null);               
                    $('#divContractDate').hide();
                    $('#ContractDate').val(null);
                    break;
            }
        };


        //at view load
        showHideValues($('#Type').val());

        //on type change
        $('#Type').change(function () {
            showHideValues($(this).val());
        });


    });
</script>

