@using PIPMUNI_ARG.Models.Domain;
@model List<Payment>
@{
    Layout = "../Shared/_AprobacionLayout";
    ViewBag.navPayment = "active";
}






@if (Model?.Count > 0)
{
    <h4 class="mb-4">Certificados pendientes de trámite</h4>





    <div class="card-list">

        @foreach (Payment payment in Model)
        {
            <a class="btn-clear" asp-route-id="@payment.Id" asp-area="" asp-controller="Payment" asp-action="Edit">

                <div class="card">
                    <div class="wrap-item-list">
                        <span class="label-dato">
                            @Html.DisplayNameForInnerType((Payment summary) => summary.Contract_info)
                        </span>
                        <span class="label-number">
                            @if (payment.Contract_info?.Id > 0)
                            {
                                @payment.Contract_info?.Name
                            }
                        </span>
                    </div>
                    <div class="wrap-item-list">
                        <span class="label-dato">
                            @Html.DisplayNameForInnerType((Payment summary) => summary.Record)
                        </span>
                        <span class="label-number">
                            @if (payment.Record != null)
                            {
                                payment.Record.ToString();
                            }
                        </span>
                    </div>
                    <div class="wrap-item-list">
                        <div class="wrap-item-list">
                            <span class="label-dato">
                                @Html.DisplayNameForInnerType((Payment summary) => summary.ReportedMonth)
                            </span>
                            <span class="label-number">
                                @if (payment.ReportedMonth.HasValue && payment.ReportedMonth.Value != DateTime.MinValue)
                                {
                                    @payment.ReportedMonth.Value.ToString("yyyy-MMM")
                                }
                            </span>
                        </div>
                    </div>
                    <div class="wrap-item-list">
                        <span class="label-dato">
                            @Html.DisplayNameForInnerType((Payment summary) => summary.Value)

                        </span>
                        <span class="label-number">
                            @if (payment.Total > 0)
                            {
                                @payment.Total?.ToString("n0")
                            }
                        </span>
                    </div>
                    <div class="wrap-item-list">
                        <span class="label-dato">
                            @Html.DisplayNameForInnerType((Payment summary) => summary.PhysicalAdvance)
                        </span>
                        <span class="label-number">
                            @if (payment.PhysicalAdvance.HasValue)
                            {
                                @payment.PhysicalAdvance.Value.ToString("n0")
                            }
                        </span>
                    </div>
                    <div class="wrap-item-list">
                        <span class="label-dato">
                            @Html.DisplayNameForInnerType((Payment summary) => summary.Stage)
                        </span>
                        <span class="label-number">
                            @if (payment.Stage_info != null)
                            {
                                <label>@payment.Stage_info.Name</label>
                            }
                        </span>
                    </div>
                </div>
            </a>
        }
    </div>


    @*    <table>
        <thead>
            <tr>
                @if (User.IsInRole(ProjectGlobals.RoleDireccion))
                {
                    <th></th>
                }
                <th>@Html.DisplayNameForInnerType((Payment summary) => summary.Contract_info)</th>
                <th>@Html.DisplayNameForInnerType((Payment summary) => summary.Number)</th>
                <th>@Html.DisplayNameForInnerType((Payment summary) => summary.Date)</th>
                <th class="numCel">@Html.DisplayNameForInnerType((Payment summary) => summary.Value)</th>
                <th>@Html.DisplayNameForInnerType((Payment summary) => summary.PhysicalAvance)</th>
                <th>@Html.DisplayNameForInnerType((Payment summary) => summary.Stage)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Payment payment in Model)
            {
                <tr>
                    @if (User.IsInRole(ProjectGlobals.RoleDireccion))
                    {
                        <td title="modificar">
                            <a asp-route-id="@payment.Id" asp-area="" asp-controller="Payment" asp-action="Edit" class="btn btn-clear"><i class="bi-pencil"></i></a>
                        </td>
                    }
                    <td>
                        @if (payment.Contract_info?.Id > 0)
                        {
                            @payment.Contract_info?.Name
                        }
                    </td>
                    <td>
                        @if (payment.Number != null)
                        {
                            payment.Number.ToString();
                        }
                    </td>
                    <td>
                        @if (payment.Date != DateTime.MinValue)
                        {
                            @payment.Date.ToString("yyyy-MMM-dd")
                        }
                    </td>
                    <td class="numCel">
                        @if (payment.Value > 0)
                        {
                            @payment.Value.ToString("n0")
                        }
                    </td>
                    <td>
                        @if (payment.PhysicalAvance.HasValue)
                        {
                            @payment.PhysicalAvance.Value.ToString("n0")
                        }
                    </td>
                    <td>
                        @if (payment.Stage_info != null)
                        {
                            <label>@payment.Stage_info.Name</label>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
*@
}
else
{
    <p>No se encuentran Certificados pendientes de trámite.</p>
}
