@using PIPMUNI_ARG.Models.Domain;
@model Contractor
@{
    ViewData["Title"] = "Editar Contratista";
    ViewData["isBasicView"] = true;
}

@await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)
<form id="FormContractor" asp-action="Edit" class="mt-2" asp-route-returnUrl="@ViewBag.returnUrl" asp-route-bufferedUrl="@ViewBag.bufferedUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="row">
        <div class="form-group mb-3 col-sm-4" id="divOfficialID">
            <label asp-for="OfficialID" class="control-label" title="CUIT del contratista"></label>
            <input asp-for="OfficialID" type="text" class="form-control">
            <span asp-validation-for="OfficialID" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3" id="divName">
            <label asp-for="Name" class="control-label" title="Nombre o razón social del contratista"></label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>


    @await Html.PartialAsync("/Views/Shared/JaosLib/_ResultMessages.cshtml",ViewData)

    <div class="mt-5">
        @{
            <!-- return button -->
            if (!string.IsNullOrEmpty(ViewBag.returnUrl))
            {
                string returnlink = @ViewBag.returnUrl;
                if (!string.IsNullOrEmpty(ViewBag.bufferedUrl))
                {
                    if (!returnlink.Contains("returnUrl"))
                    {
                        string separator = (returnlink.Contains('?')) ? "&" : "?";
                        returnlink += string.Format("{0}returnUrl={1}", separator, ViewBag.bufferedUrl);
                    }
                }
                <a href=@returnlink formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
            else
            {
                <a id="goBack" href="javascript:void(0);" formnovalidate class="btn btn-basic"><i class="bi-arrow-90deg-left"></i>&nbsp; Regresar</a>
            }
        }
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmation"><i class="bi bi-x-lg"></i>&nbsp; Borrar</button>
        <button type="submit"  class="btn btn-primary"><i class="bi bi-check-lg"></i>&nbsp; Guardar</button>
    </div>



    @* Confirm before deleting *@
    <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advertencia de Borrado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Está a punto de eliminar la información de Contratista..</p>
                    Confirme si desea continuar?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Conservar</button>
                    <button type="submit" formnovalidate class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewBag.returnUrl">Borrar</button>
                </div>
            </div>
        </div>
    </div>


</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<!-- Format xx-xxxxxxxx-x -->
<script>
document.getElementById("OfficialID").addEventListener("input", function (event) {
        var input = event.target;
        var value = input.value.replace(/[^A-Z\d]/g, ""); // Remove invalid characters
        if (value.length > 11)
            value = value.substring(0, 11); // Limit to 11 characters

        // Reformat the value to include hyphens at the correct positions
        var formattedValue = '';
        for (var i = 0; i < value.length; i++) {
            if ((i === 2 || i === 10) && value[i] !== '-') {
                formattedValue += '-';
            }
            formattedValue += value[i];
        }

        input.value = formattedValue;
    });
</script>

