@using PIPMUNI_ARG.Models.Domain;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Por Aprobar";
}

@if (this.User.IsInRole(ProjectGlobals.RoleDireccion) || this.User.IsInRole(ProjectGlobals.RoleOperacion) || this.User.IsInRole(ProjectGlobals.RoleAdmin))
{
    <form class="mb-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @ViewBag.navPayment" asp-area="Review" asp-controller="Approval" asp-action="Payments">Certificados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.navAddition" asp-area="Review" asp-controller="Approval" asp-action="Additions">Redeterminaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.navVariante" asp-area="Review" asp-controller="Approval" asp-action="Variantes">Variantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ViewBag.navExtension" asp-area="Review" asp-controller="Approval" asp-action="Extensions">Ampliaciones</a>
            </li>
        </ul>
    </form>
}

@RenderBody()


@* For other Users Different from PEU
    <form>
    <section class="section">
        <div class="container">
            <button type="submit" class="btn btn-basic" asp-area="" asp-action="Edit" asp-controller="Project">Edit Project Info.</button>
            @if (User.IsInRole(ProjectGlobals.RoleAdmin))
            {
                <button type="submit" class="btn btn-basic" asp-area="" asp-action="Index" asp-controller="Funding">Funding</button>
                <button type="submit" class="btn btn-basic" asp-area="Review" asp-action="Capture" asp-controller="Disburse">Disbursements</button>
                <button type="submit" class="btn btn-basic" asp-area="Review" asp-action="Capture" asp-controller="Expendit">Expenditure</button>
                <button type="submit" class="btn btn-basic" asp-area="" asp-action="Index" asp-controller="Report">Reports</button>
            }
        </div>
    </section>
</form>
*@


@await RenderSectionAsync("Scripts", required: false)

